<h3>Change password</h3>

<%= form_tag 'change_passwords', :multipart =>true do %>

<label for="user_password">Choose password:</label><br/>
<%= password_field "user", "password", :size => 20, :value=>"" %><br/>

<%= submit_tag "Submit" %>
<br/>
<br/>
<%= link_to 'Back', '/users/welcome' %>
<% end %>
