	<div id="container">
		<div id="example">
			
			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<img src="/assets/slide-1.jpg" width="570" height="270" alt="Slide 1">
						<div class="caption" style="bottom:0">
							<p>Descubrir es mirar lo mismo que esta viendo todo el mundo y percibirlo de manera diferente</p>
						</div>
					</div>
					<div class="slide">
						<img src="/assets/slide-2.jpg" width="570" height="270" alt="Slide 2">
						<div class="caption">
							<p>To Do!!</p>
						</div>
					</div>
					<div class="slide">
						<img src="/assets/slide-3.jpg" width="570" height="270" alt="Slide 3">
						<div class="caption">
							<p>Be the change you want to see in the world</p>
						</div>
					</div>
					<div class="slide">
						<img src="/assets/slide-4.jpg" width="570" height="270" alt="Slide 4">
						<div class="caption">
							<p>Work hard, party harder!! </p>
						</div>
					</div>
					<div class="slide">
						<img src="/assets/slide-5.jpg" width="570" height="270" alt="Slide 5">
						<div class="caption">
							<p>&ldquo;Achieve National Conference - Venezuela 2012&rdquo;</p>
						</div>
					</div>
					<div class="slide">
						<img src="/assets/slide-6.jpg" width="570" height="270" alt="Slide 6">
						<div class="caption">
							<p>Your next step</p>
						</div>
					</div>
					<div class="slide">
						<img src="/assets/slide-7.jpg" width="570" height="270" alt="Slide 7">
						<div class="caption">
							<p>AIESEC USB</p>
						</div>
					</div>
				</div>
				<a href="#" class="prev"><img src="/assets/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="/assets/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="/assets/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
		</div>
	</div>
		
		<div class="bloque">

			<div class="titulo_bloque">Tips</div>

			<div class="item">
				<div class="titulo_item">Tip F&L</div>
				<div class="foto"><img src="/assets/t1.png">
				</div>
				<div class="articulo">Cada area debe entregar un presupuesto de ingresos y egresos a su VP F&L los 25 de cada mes para garantizar un buen flujo de capital mensual </div>
			</div>
			<div class="item">
				<div class="titulo_item">Tip COMM</div>
				<div class="foto"><img src="/assets/t2.png">
				</div>
				<div class="articulo">Demostrar que el area no se trata solo de hacer publicidad, involucra marketing...</div>
			</div>

		</div>
		<div class="bloque">

				<div class="titulo_bloque">Noticias</div>

				<div class="item">
					<div class="titulo_item">Returnees</div>
					<div class="foto"><img src="/assets/n1.png">
					</div>
					<div class="articulo">El viernes celebramos el regreso de nuestros Eps en el Leon. Bienvenidos y esperamos seguir en contacto, son parte de la gran familia AIESECA</div>
				</div>
				<div class="item">
					<div class="titulo_item">Compendio</div>
					<div class="foto"><img src="/assets/n2.png">
					</div>
					<div class="articulo">Se esta realizando la actualizacion del compendio, la OCP del proyecto es Dayana Arevalo. Manden sus comentarios y sugerencias!!!</div>
				</div>

			</div>
		<br/>
		<br/>
		<br/>
		
